---
import Layout from '../layouts/Layout.astro';
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Footer from '../sections/Footer.astro';
---
<Layout>
	<div class="flex min-h-screen flex-col justify-between">
	<Header/>
	<Hero/>
	<Footer/>
	</div>
</Layout>
