<footer class="pt-10">
  <div class="w-full max-w-xl mx-auto p-4 md:p-8 text-white">
    <a href="/"><img class="w-24" src="/logo-a.svg" alt="bigIbai" /></a>
    <nav>
      <ul class="flex justify-center items-center">
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-4"
            href="/privacidad">Privacidad</a>
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-4"
            href="/aviso-legal">Aviso legal</a>
        </li>
        <li>
          <a
            class="hover:underline hover:text-yellow-300 transition me-4 md:me-4"
            href="/politica-cookies">Politica de cookies</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="mt-4 text-center text-white">
    <p class="opacity-80">© 2025 bigIbai. Todos los derechos reservados.</p>
  </div>
</footer>
